.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: -80px; 
}

.wrapper-box {
 padding: 30px;
  text-align: center; 
}

.password-box {
  display: flex;
  
  align-items: center;
}
.password-box > input[type='text'] {
  width: 70%;
  height: 35px;
  margin: 10px 0; 
  font-size: 16px;
  padding-left: 10px;
  color: #000;
  letter-spacing: 2px;
}

.word-crieteria__box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.word-crieteria__box input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.word-crieteria__box label {
  font-weight: 500;
}

input[type='number'] {
  width: 60px;
  height: 20px;
}
